{% extends "base.html" %}
{% load static %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    <div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
    </div>

    <div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}

{% block javascript %}
<script>
// to style the form according to bootstrap
document.querySelectorAll('input').forEach(function(s) {
    if (s.id.startsWith('id_')) {
        s.classList.add("form-control");
    }
});
</script>
{% endblock %}



{% comment %}
<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}





    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
{% endcomment %}