{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-white rounded bg-dark">
    <h1>{{ title }}</h1>
</div>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
        </tr>
            {% for field in fields %}      <th>{{ field }}</th>  {% endfor %}
            {% if model != 'mask' %}       <th> Masks </th>      {% endif %}
            {% if user.is_authenticated %} <th> Action(s) </th>  {% endif %}
        </tr>
    </thead>
    <tbody>

    {% for data in datas %}
        <tr>
            {% for key,value in data.items %}
                <td>
                {%  if key == 'id' %}
                    <a href="{% url detail_url value %}"> {{value}} </a>
                {% elif key == 'motifs' %}
                    {{ data }}
                {%  else  %}
                    {{ key }} {{ value }}
                {%  endif  %}
                </td>
            {%  endfor %}



            {% if model != 'mask' %}
            <td>
                <a  href="{% url 'listmaskwithfield' model data.id %}" > masks </a>
            </td>
            {% endif %}
            {% if user.is_authenticated %}
                <td>
                    <a  href="{% url update_url data.id  %}" > Update </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% for field in fields %}      <th>{{ field }}</th>  {% endfor %}
            {% if model != 'mask' %}       <th> Masks </th>      {% endif %}
            {% if user.is_authenticated %} <th> Action(s) </th>  {% endif %}
        </tr>
    </tfoot>
</table>
{% endblock %}
