{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load mask_utils %}
{% block content %}

    <div class="jumbotron text-white rounded bg-dark">
        <h1>Mask Detail</h1>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <td> Name </td>
            <td> {{ mask.name }} </td>
        </tr>
        <tr>
            <td> id number </td>
            <td> {{ mask.idNumber }} </td>
        </tr>
        <tr>
            <td> Usage </td>
            <td> {{ mask.usage }} </td>
        </tr>
        <tr>
            <td> Motif </td>
            <td>
                {%  for m in mask.motifs.all %}
                    <a href="{% url 'detailmotif' m.id  %}"> {{m.name }} </a>
                    <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>GDS file</td>
            <td>
            {%  if mask.GDSFile  %}
                <a href="{{ mask.GDSFile.url }}"> {{mask.GDSFile|filename}} </a>
            {%  else %}
                Pas de fichier ...
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Area</td>
            <td>{{ mask.area }}</td>
        </tr>
        <tr>
            <td>Localisation</td>
            <td>{{ mask.localisation.localisation }}</td>
        </tr>
        <tr>
            <td>Designer</td>
            <td>{{ mask.conceptor }}</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>{{ mask.manufacturer.corporateName }}</td>
        </tr>
        <tr>
            <td>Polarisation</td>
            <td>{{ mask.polarisation }}</td>
        </tr>
        <tr>
            <td>Condition</td>
            <td>{{ mask.condition }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{  mask.description }}</td>
        </tr>


        </tbody>
    </table>
<!--
    <div class="row">
        <div id="links">
            {% for image in mask.image_set.all %}
                <a href={{ image.image.url }} title="{{ image.image.name }}" >
                    <img src="{{ image.image|thumbnail_url:'avatar' }}" alt="{{ image.image.name }}" />
                </a>
            {% endfor %}
        </div>
    </div>
-->
  <div class="row">
      {% for image in mask.image_set.all %}
          <a class='gallery' href={{ image.image.url }} title="{{ image.image.name }}" >
              <img src="{{ image.image|thumbnail_url:'avatar' }}" alt="{{ image.image.name }}" />
          </a>
      {% endfor %}
  </div>

{% endblock %}


{% block javascript %}


    <script src="{% static 'blueimpgallery/Gallery-master/js/blueimp-gallery.min.js' %}" ></script>
    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>

    <script>
    // display the image with the colorbox.js and wheelzoom.js jquery library

        jQuery(document).ready(function () {
            $('a.gallery').colorbox({
                rel:'group1' ,
                scalephotos:true,
                maxWidth: '100%',
                maxHeight:'100%',
                onComplete:function(){
                    // this will deactivate the click on the image to go to next
                    // which is the standard colorbox behaviour but conflicts with
                    // the fact that to drag the image in wheelzoom one needs to click and
                    // stay clicked. see https://github.com/jackmoore/colorbox/issues/668
                    $('.cboxPhoto').unbind('click');
                    // activate wheelzoom on the image.
                    wheelzoom(document.querySelectorAll('img'));
                },
            });
        });
    </script>
{% endblock %}