{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/jquery.fileupload.css">
<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>

{% endblock %}

{% block content %}

<div class="jumbotron text-white rounded bg-dark">
    <h1>Mask Search</h1>
</div>
<!--
<form action="{% url 'createmask' %}" id="fileuploadform" method="post" enctype="multipart/form-data">
-->


<form action="{% url 'resultsmask' %}" method="get">
   {% for field in form %}
    <div class="form-group has-errors text-danger small">
        {{ field.errors }}
    </div>
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <small id="{{ field.id_for_label}}_help" class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <input id="submit" type="Submit" name="Submit"/>

</form>


{% endblock %}


{% block javascript %}
<script>
        var motiftype_def = {{ view.motiftype_def|safe }};
        console.log(motiftype_def);
        var el=document.getElementById('id_type');

        function type_action(){
            var selected_type = el.options[el.selectedIndex].text;
            console.log(selected_type)
            if (selected_type in motiftype_def) {
                console.log(motiftype_def[selected_type]);
                var nb=motiftype_def[selected_type].nb;
                console.log(motiftype_def[selected_type].names);
                //if (document.getElementById("submit")) {
                //    document.getElementById("submit").disabled = false;
                //}
            }else {
                var nb=0;
                //if (document.getElementById("submit")) {
                //    document.getElementById("submit").disabled = true;
                //}
            }
            var inputs = document.querySelectorAll('*[id^="id_value"]');
            for (i=0 ; i < inputs.length ; i++){
                if (i < nb){
                    inputs[i].parentElement.style.display="block";
                    inputs[i].parentElement.children[0].innerHTML=motiftype_def[selected_type].names[i];
                } else {
                    inputs[i].parentElement.style.display="none";
                }
            }
        }
        el.addEventListener('change',type_action,false);
        type_action();

</script>

{% endblock %}