{% extends "base.html" %}
{% block content %}

<h1>MotifType form dd</h1>
<form action="" method="post">
    {%csrf_token%}

    {% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger small">
        {{ error }}
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="form-group has-errors text-danger small">
        {{ field.errors }}
    </div>
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <small id="{{ field.id_for_label}}_help" class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <input type="button" id="add_form" value="Update form" />

    {{ formset.management_form }}
    <input id="submit" type="submit" value="Submit" style="display:none"/>

    {% for f in formset %}
    <div class="form-row">
        {% for field in f %}

        <div class="form-group {% if forloop.first %}col-md-4{% else %}col-md-8{% endif %}">

            {{ field.label_tag }}
            {{ field }}

            {% if field.help_text %}
            <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}

      <input id="submit" type="submit" value="Submit" {% if update == False %} style="display:none"{% endif %}/>


</form>

<div id="formset_template" style="display:none">
    <div class="form-row">
        {% for field in formset.empty_form %}

        <div class="form-group {% if forloop.first %}col-md-4{% else %}col-md-8{% endif %}">

            {{ field.label_tag }}
            {{ field }}

            <small id="help_{{field.id_for_label}}" class="form-text text-muted">{{ field.help_text|safe }}</small>

        </div>
    {% endfor %}
    </div>
</div>
aa

<script>
    var form_count = {{formset.total_form_count}};
    var place_to_add=document.getElementById('add_form');
    document.getElementById('add_form').addEventListener('click',addForm);


    function addForm() {
       document.getElementById('submit').style.display="block";
       var nb_data_forms=document.getElementById("id_nb_parameters").value;
              console.log(form_count,nb_data_forms);
       if (form_count < nb_data_forms) {
           for (;form_count < nb_data_forms ;++form_count) {
               console.log(form_count,nb_data_forms);
               var form = document.getElementById('formset_template').innerHTML.replace(/__prefix__/g, form_count);
               place_to_add.insertAdjacentHTML('afterend',form);
               console.log('looking for:','id_form-'+form_count+'-rank');
               document.getElementById('id_form-'+form_count+'-rank').value=form_count;
               place_to_add=document.getElementById('id_form-'+form_count+'-name_of_field').parentNode.parentNode;
           }

       } else if (form_count > nb_data_forms){
           for (;nb_data_forms < form_count ;form_count--) {
               console.log('removing i',form_count);
               console.log(document.getElementById('id_form-'+(form_count-1)+'-rank').parentNode.parentNode);
               document.getElementById('id_form-'+(form_count-1)+'-rank').parentNode.parentNode.remove();
               place_to_add=document.getElementById('id_form-'+(form_count-2)+'-name_of_field').parentNode.parentNode;
            }

       }
       document.getElementById('id_form-TOTAL_FORMS').value=form_count;



        function get_nb_parameters(){
            document.write("called");
            console.log(this);
        }

        var el = document.getElementById('id_nb_parameters');
        el.addEventListener("change",get_nb_parameters,false);
        console.log(document.getElementById('id_nb_parameters').value)
        document.getElementsByTagName("H1")[0].innerHTML = "yourTextHere";
    }




</script>

{% endblock %}
